# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/

# Production
build/
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env*
!.env.example

# Logs
logs/
*.log
log.txt

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Coverage
coverage/

# Local serverless folders
.serverless/
.webpack/

# Misc
*.local
